<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="http://www.theappellationexplorer.com">The Appellation Explorer</a>
      by <a href="http://www.theoenophilessecret.com">The Oenophiles Secret</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>